.form__avatar-preview {
  width: 136px;
  height: 136px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background-image: url("../../../images/test-avatar.png");
  content: "";
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}
