.password-change__sidebar {
  margin: 0;
  padding: 0;
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

@media screen and (max-width: 856px) {
  .password-change__sidebar {
    row-gap: 0;
  }
}
