.notifications-area {
  margin: 0 auto;
  padding: 0;
  min-width: 856px;
  max-width: 1120px;
  margin-bottom: 120px;
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
    "sidebar notifications-content"
    "profile-status notifications-content";
  gap: 24px 32px;
  grid-template-columns: minmax(min-content, 416px) minmax(min-content, 1042px);
  grid-template-rows: 168px max-content;
}

@media screen and (max-width: 856px) {
  .notifications-area {
    margin-bottom: 80px;
    min-width: 312px;
    grid-template-areas:
    "sidebar"
    "notifications-content"
    "profile-status";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, max-content);
  }
}
