.form__button {
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 6px;
  padding: 20px 32px;
  cursor: pointer;
}

.form__button:hover {
  opacity: .6;
  transition: opacity .1s ease-in-out;
}

.form__button:disabled {
  opacity: .6;
}

.form__button:disabled:hover {
  cursor: not-allowed;
}

.form__button:active {
  opacity: .3;
  transition: opacity .1s ease-in-out;
}