.title {
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.25;
  color: #374045;
  width: 100%;
  margin: 0;
}

@media screen and (max-width: 796px) {
  .title {
    font-size: 24px;
    line-height: 1.3;
  }
}