.password-change {
  margin: 0 auto;
  padding: 0 10px;
  padding-bottom: 10px;
  max-width: 1120px;
  display: grid;
  grid-template-areas:
    "breadcrumbs breadcrumbs"
    "sidebar main"
    "status main";
  grid-template-columns: min-content auto;
  grid-template-rows: min-content 170px auto;
  align-items: start;
  min-height: calc(100vh - 136px - 624px);
}

@media screen and (max-width: 856px) {
  .password-change {
    padding: 0;
    grid-template-areas:
      "sidebar"
      "main"
      "status";
    grid-template-columns: calc(100% - 48px);
    grid-template-rows: repeat(3, min-content);
    justify-content: center;
    row-gap: 32px;
    padding-bottom: 80px;
  }
}
