.portfolio__file-container-mini{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #048AA7;
  border-radius: 6px;
  width: 312px;
  height: 47px;
  margin-top: 12px;
}
@media screen and (min-width: 857px){
  .portfolio__file-container-mini{
    display: none;
  }
}
