.registration-variant__image_align_right {
  right: -201px;
  background-image: url(../../../../images/bitmap_fund.png);
}

@media screen and (max-width: 856px) {
  .registration-variant__image_align_right {
    right: -97px;
    bottom: 0;
  }
}
