.footer__column {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
  max-width: 160px;
  flex-basis: 160px;
}

@media screen and (max-width: 980px) {
  .footer__column {
    max-width: 130px;
    flex-basis: 130px;
  }
}
