.password-change__main {
  width: 100%;
  max-width: 832px;
  grid-area: main;
  justify-self: flex-end;
}

@media screen and (max-width: 856px) {
  .password-change__main {
    justify-self: center;
  }
}
