.footer__logo-description {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #7B878F;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.15px;
  text-align: end;
  transition: linear 0.3s;
}

.footer__logo-description:hover {
  opacity: 0.6;
}
