.header__menu{
    display: flex;
    align-items: center;
    width: 640px;
    justify-content: space-between;
    padding-left: 20px;
}

@media screen and (max-width: 1060px){
    .header__menu{
        padding: 0 15px 0 15px;
    }
}

@media screen and (max-width: 856px){
    .header__menu{
        display: none;
    }
}