/*коробочка для надписей мобильной версии*/
.sidebar__mobile-items {
  display: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 796px) {
  .sidebar__mobile-items {
    padding: 8px 24px 0;
    visibility: visible;
    display: flex;
    justify-content: space-between;
  }
}