/*выбранный активный раздел недоступен для клика*/
.sidebar__step_active {
  cursor: default;
  pointer-events: none;
  object-fit: contain;
}

@media screen and (max-width: 796px) {

  /*активный шаг - оранжевый*/
  .sidebar__step_active {
    background-color: #E65609;
  }
}