.footer__columns {
  margin: 0;
  padding: 0;
  padding-bottom: 48px;
  box-sizing: border-box;
  grid-area: info-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1120px;
}

@media screen and (max-width: 880px) {
  .footer__columns {
    max-width: 855px;
  }
}

@media screen and (max-width: 856px) {
  .footer__columns {
    display: none;
  }
}
