.bread-crumbs__paragraph {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: rgba(123, 135, 143, 1);
  margin: 24px 0 24px 0;
}
