.motivation-grid {
  display: grid;
  grid-template-columns: minmax(min-content, 416px) minmax(min-content, 736px);
  grid-template-rows: 264px max-content;
  grid-template-areas:
    "sidebar motivation"
    "status motivation";
  column-gap: 32px;
  row-gap: 24px;
  padding-bottom: 120px;
}

@media screen and (max-width: 856px) {
  .motivation-grid {
    row-gap: 0;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, max-content);
    grid-template-areas:
      "sidebar"
      "motivation"
      "status";
    padding-bottom: 80px;
  }
}
