.portfolio__file-container{
  box-sizing: border-box;
  border: 1px dashed #A0ABB5;
  max-width: 736px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  margin-top: 12px;
  cursor: pointer;
}

@media screen and (max-width: 856px){
  .portfolio__file-container{
    display: none;
  }
}
